$snowy: #f0f4f1;
$grey: #9da69f;
$forest-green: #565d56;
$darker-snowy: #c5cdc7;
$brown: #383b39;

$background-gradient: linear-gradient(0deg, rgba(210,255,243,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(210,255,243,1) 100%);